<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <h4>Search donor</h4>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label class="form-label">Blood Group</label>
                    <select name="" id="" class="form-control">
                        <option value="" selected disabled>Choose..</option>
                        <option value="">A+</option>
                        <option value="">B+</option>
                        <option value="">AB+</option>
                        <option value="">O+</option>
                        <option value="">A-</option>
                        <option value="">B-</option>
                        <option value="">AB-</option>
                        <option value="">O-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Search</button>
                </div>
            </div>

        </div>
    </div>
</div>