<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label class="form-label">Name</label>
                    <input type="text" placeholder="name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Blood Group</label>
                    <select name="" id="" class="form-control">
                        <option value="" selected disabled>Choose..</option>
                        <option value="">A+</option>
                        <option value="">B+</option>
                        <option value="">AB+</option>
                        <option value="">O+</option>
                        <option value="">A-</option>
                        <option value="">B-</option>
                        <option value="">AB-</option>
                        <option value="">O-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">D.O.B</label>
                    <input type="date" placeholder="D.O.B" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Last donation date</label>
                    <input type="date" placeholder="last donation date" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label class="form-label">Any previous deseases</label>
                    <input type="text" placeholder="Any previous deseases" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">last vaccination date</label>
                    <input type="date" placeholder="last vaccination date" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label class="form-label">Address</label>
                    <textarea name="" placeholder="Address" id="" cols="15" rows="4" class="form-control"></textarea>
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Pincode</label>
                    <input type="text" placeholder="pincode" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" placeholder="Mobile number" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label class="form-label">E mail</label>
                    <input type="email" placeholder="Email" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
